@import "../../scss/index.scss";

.register-form {
    width: 500px;
    margin-right: 170px;   
}
.register-button {
    width: 100%;
}

.register-footer-button {
    align-self: center;
    margin-left: 285px;  
}